{% extends '../templates/sidebar.html' %}

{% block content-title %}{{ contact.name }}{% endblock %}
{% block content-description %}
    {{ contact.description|default:'no description' }}
{% endblock %}

{% block content-main %}
    <h3>Last Interactions</h3>
    <p class="text-muted">These are the last interactions you had with {{ contact.name }}, including meetings, calls,
        and emails.</p>

    {% for interaction in contact.interactions.all %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    Interaction: {{ interaction.title }}
                </h5>
                <p class="text-muted">
                    {{ interaction.description }}
                </p>
                <p>
                    <small>
                        {{ interaction.was_at|date }}, {{ interaction.was_at|timesince }} ago
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content-sidebar %}
    <p>
        <a href="{% url 'networking_web:contact-update' contact.id %}" class="btn btn-primary d-block">edit</a><br>
        <a href="{% url 'networking_web:contact-delete' contact.id %}" class="btn btn-secondary d-block">delete</a>
    </p>

    <h3>Connected Emails</h3>
    <p class="text-muted">These emails are connected to {{ contact.name }}'s account</p>
    <ul>
        {% for email in contact.emails.all %}
            <li>
                <a href="mailto:{{ email.email }}">
                    {{ email.email }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h3 class="mt-5">Potential duplicates</h3>
    <p>no duplicates</p>
{% endblock %}
