{% extends '../templates/sidebar.html' %}

{% block content-title %}{{ contact.name }}{% endblock %}
{% block content-description %}
    {{ contact.description|default:'no description' }}
{% endblock %}

{% block content-main %}
    <h3>Last Interactions</h3>
    <p class="text-muted">These are the last interactions you had with {{ contact.name }}, including meetings, calls,
        and emails.</p>

    {% include '../molecules/interaction-add-button.html' %}
    {% include '../organisms/interaction-list.html' with interactions=interactions|slice:5 show_description=True %}
{% endblock %}

{% block content-sidebar %}
    <p class="d-grid gap-2">
        <a href="{% url 'networking_web:contact-update' contact.id %}" class="btn btn-primary">edit</a><br>
        <a href="{% url 'networking_web:contact-delete' contact.id %}" class="btn btn-secondary">delete</a>
    </p>

    <h3 class="mt-3">Email Addresses</h3>
    <p class="text-muted">These emails are connected to {{ contact.name }}'s account</p>
    <ul>
        {% for email in contact.email_addresses.all %}
            <li>
                <a href="mailto:{{ email.email }}">{{ email.email }}</a>
                (<a href="{% url 'networking_web:email-delete' email.id %}">remove</a>)
            </li>
        {% endfor %}
    </ul>

    <h3 class="mt-3">Phone Numbers</h3>
    <p class="text-muted">These phone numbers are connected to {{ contact.name }}'s account</p>
    <ul>
        {% for phone_no in contact.phone_numbers.all %}
            <li>
                <a href="tel:{{ phone_no.phone_number }}">
                    {{ phone_no.phone_number }}
                </a>
            </li>
        {% empty %}
            <li>no phone numbers</li>
        {% endfor %}
    </ul>

    <h3 class="mt-3">Potential duplicates</h3>
    <ul>
        {% for duplicate in duplicates %}
            <li>
                <a href="{{ duplicate.other_contact.get_absolute_url }}">
                    {{ duplicate.other_contact.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
