{% extends '../templates/sidebar.html' %}
{% load crispy_forms_tags %}

{% block content-title %}
    {% if object %}
        {{ object.name }}
    {% else %}
        Create contact
    {% endif %}
{% endblock %}

{% block content-description %}
    {% if object %}
        Edit <a href="{% url 'networking_web:contact-view' object.id %}">{{ object.name }}</a>.
    {% else %}
        Create a new contact.
    {% endif %}
{% endblock %}

{% block content-main %}
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <p class="mt-3 d-grid gap-2">
            <button type="submit" class="btn btn-primary">save</button>
        </p>
    </form>
{% endblock %}