{% extends '../templates/sidebar.html' %}

{% block content-title %}Dashboard{% endblock %}
{% block content-description %}
    This dashboard gives you an overview of where you stand with all of your contacts.
{% endblock %}

{% block content-main %}
    <h2>Due Contacts</h2>
    <p class="text-secondary mb-3">
        These are the contacts you might want to contact again as you seem to be getting out of touch.
        If this is wrong, you might add an interaction that hasn't been covered yet.
    </p>
    {% if contacts %}
        {% include '../organisms/contact-list.html' with contacts=contacts %}
    {% else %}
        <div class="alert alert-success">
            <strong>Inbox Zero</strong><br>
            You're in touch with all of your contacts, congratulations! 🎉
        </div>
    {% endif %}
{% endblock %}

{% block content-sidebar %}
    <h3>Top Contacts</h3>
    <p class="text-muted">Contacts with most interactions</p>
    {% include '../organisms/contact-list-small.html' with contacts=contacts_frequent %}

    <h3 class="mt-5">Recent Contacts</h3>
    <p class="text-muted">Contacts you've interacted with recently</p>
    {% include '../organisms/contact-list-small.html' with contacts=contacts_recent %}
{% endblock %}
