{% extends './layouts/2-columns.html' %}
{% load crispy_forms_tags %}

{% block heading %}
    {{ object.name }}
{% endblock %}

{% block left %}
    <p>Do you really want to delete {{ object.name }} permanently?</p>
    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <a class="btn btn-primary" href="{% url 'networking_web:contact-view' contact.id %}">no, keep in touch</a>
        <button type="submit" class="btn btn-danger">yes, delete</button>
    </form>
{% endblock %}