{% extends './layouts/2-columns.html' %}

{% block title %}Settings{% endblock %}

{% block heading %}Settings{% endblock %}

{% block left %}
    <h2>Import</h2>
    <div class="row">
        <div class="col-md-5">
            Currently available:
            <ul>
                <li>
                    <a href="{% url 'networking_web:import-csv' %}">Import from CSV</a>
                </li>
            </ul>

            Coming soon:
            <ul>
                <li>Import from CRM</li>
                <li>Import from Email</li>
            </ul>
        </div>
        <div class="col-md-5 offset-1">
        </div>
    </div>
{% endblock %}
{% block right %}
    <h2>Export</h2>
    <div class="row">
        <div class="col-md-5">
            Currently available:
            <ul>
            </ul>

            Coming soon:
            <ul>
                <li>Export to CSV</li>
                <li>Export to JSON</li>
            </ul>
        </div>
        <div class="col-md-5 offset-1">
        </div>
    </div>
{% endblock %}
